{% extends "layout.html"%}

{% block content %}
    
    <div class="card mb-3">
      <div class="card-body">    
        <form action="/new" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class ="form-group">
                <legend class ="boarder-bottom mb-2 pt-2">Add a new restaurant</legend>
            </fieldset>
            <div class="mb-3 form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-lg") }}
            </div>
            <div class="mb-3 form-group">
                {{ form.location.label(class="form-control-label") }}
                {{ form.location(class="form-control form-control-lg") }}
            </div>
        {% if session.user %}
            <div class="mb-3 form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% else %}
            <div class="col-auto">
                    <button class="btn btn-secondary" type="button" disabled>Add new restaurant</button>
                    <span class="fa fa-info-circle" aria-hidden="true"> Login to add resturants</span>
            </div>
        {% endif %}
        </form> 
</div>


{% endblock content %}