{% extends "layout.html"%}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Main Page</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/new">Add new restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/">Map of restaurants</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- näytetään alla olevaa, jos käyttäjä on kirjautnut sisään - Logout toimii nyt myös -->

    {% if session.user %}
        <div class="justify-content-end">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <form method="POST" action="/logout">
                  <li><input class="dropdown-item" type="submit" value="Logout"></li>
                </form>
              </ul>
            </li>
        </ul>
      </div>
</nav>

<div class="container">
  <div class="col-md">
    <p>You are logged in as: <b>{{ session.user }}</b></p>
    
<!-- Jos käyttäjä ei ole kirjautnut sisään, voi katsoa ravintoloita ja näkee login / reksteröitymislomakkeet -->
    {% else %}
        <div class="justify-content-end">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active " href="/login">Login</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active " href="/register">Register</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</nav>

<div class="container">
  <div class="col-md">
    <p>No user logged in!</b></p>
{% endif %}

<!-- Listataan kaikille ravintolat -->

    <h2>All restaurants</h2>  
  </div>
  
  <div class="container">
    {% if posts %}
      {% for restaurant in posts %}
      
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ restaurant.location }} - added on {{ restaurant.added_at }}</h6>
          
          <p class="card-text">This is some info of the restaurant..</p>
          <a href="/review/{{ restaurant.id }}" class="card-link">Add Review</a>
          <a href="#" class="card-link">View Menu</a>
        </div>
      </div>
        {% endfor %}
    {% else %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">No restaurants added yet!</h5>
      </div>
    </div>
    {% endif %}
  </div>
    
</div>

<!-- käytetään karttaa ehkä myöhemmin <div class="row">
  <div class="col">
   {% include "map.html" %}
</div>
</div> -->

{% endblock content %}







    