{% extends "layout.html"%}

{% block content %}

<div class="container">
{% if posts %}
    {% for restaurant in posts %}
        {% if id == restaurant.id %}

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Location: {{ restaurant.location }} - added on {{ restaurant.added_at.strftime("%d-%m-%Y") }}</h6>
                
                <form action="/review/{{restaurant.id}}" method="POST" onsubmit="return check(this)">
                    {{ form.hidden_tag() }}
                    <fieldset class ="form-group">
                        <legend class ="boarder-bottom mb-2 pt-2">Restaurant review</legend>
                    </fieldset>
                    <div class="mb-3 form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control form-control-lg") }}
                    </div>

                    <div class="mb-3 form-group">
                        {{ form.review.label(class="form-control-label") }}
                        {{ form.review(class="form-control form-control-lg") }}
                    </div>
                    <div class="mb-3 form-group">
                        {{ form.stars.label(class="form-control-label") }}
                        <div></div>
                        {% for subfield in form.stars %}
                        <tr class="mb-3">
                                <td>{{ subfield.label }}</td>
                                <td>{{ subfield }}</td>
                        </tr>

                        {% endfor %}
                        
                    </div>

                {% if session.user %}
                    <div class="mb-3 form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                    {% else %}
                    <div class="col-auto">
                            <button class="btn btn-secondary" type="button" disabled>Add review</button>
                            <span class="fa fa-info-circle" aria-hidden="true"> Login to add reviews</span>
                    </div>
                {% endif %}
                </form> 
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Reviews for {{ restaurant.name }}</h4>
            </div>
            <div class="card-body">
                    {% if reviews != None %}
                        {% for review in reviews %}
                        <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title mb-2">{{ review.title }} - {{"☆" * review.stars}} </h5>
                            <h6 class="card-subtitle mb-2 text-muted"> Reviewed by: {{ review.writer }} - added on {{ review.sent_at.strftime("%d-%m-%Y  %H:%m") }}</h6>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                            {% if review.user_id == session.user_id %}   
                            <div class="card-body">
                                <a href={{ url_for('edit', id=review.id, restaurant_id=restaurant.id) }}> <button class="btn btn-primary mb-2" type="button" >Edit review</button></a>
                                <a href={{ url_for('delete_review', id=review.id, restaurant_id=restaurant.id) }}> <button class="btn btn-danger mb-2" type="button">Delete review</button></a>
                            </div>
                            {% endif %} 
                        </div>
                        {% endfor %} 
                    {% else %}
                        <p>No reviews submitted yet!</p>
                    {% endif %}     
            </div>
        </div>
    </div>

        {% endif %}
    {% endfor %}
{% else %}
<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">No restaurants added yet!</h5>
    </div>
  </div>
{% endif %}  
        
<script>
    function check(form) {
        if (form.stars.value < 1) {
          alert("Star rating missing. Please rate the restaurant!");
          return false;
        }

        return true;
    }
  </script>


{% endblock content %}
