{% extends "layout.html"%}

{% block content %}


<div class="card-body">
    <h4 class="card-header">Info</h4>
    <div class="card-body">
        <p class="card-text">Username: <strong>{{ user.username }}</strong> </p>
        <p class="card-text">Email: <strong>{{ user.email }}</strong> </p>
    </div>
</div>

<h2>Your favorite restaurants:</h2>  

{% if posts %}
      {% for restaurant in posts %}
        {% if favorites %}
          {% for favorite in favorites %}
            {% if favorite.favorite_restaurant_id == restaurant.category_restaurant_id and favorite.favorite_user_id == session.user_id %}
        <div class="card mb-3">
            {% if restaurant.category %}
          <h4 class="card-header">{{ restaurant.name }} 
            <span class="badge bg-secondary pull-right">{{ restaurant.category }}</span>
                <button type="button" id="Favorite" class="btn btn-warning btn-sm">
                  Favorite <span class="badge bg-warning">☆</span>
                </button>
            {% endif %}          
          </h4>          
          <div class="card-body">
            {% if reviews[loop.index0] == None %}
                <h6 class="card-title text-muted">No reviews yet</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ restaurant.location }} - added on {{ restaurant.added_at.strftime("%d-%m-%Y") }}</h6>
            
            {% else %}
                <h6 class="card-title"> Rating: {{ reviews[loop.index0] }} out of 5 ☆'s </h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ restaurant.location }} - added on {{ restaurant.added_at.strftime("%d-%m-%Y") }}</h6>
            {% endif %}
                <p class="card-text">{{ restaurant.info }}</p>
            {% if restaurant.website != "" %}
                 <p class="card-text">Website: <a href="http://{{restaurant.website}}" target="_blank">{{restaurant.website}}</a></p>
            {% endif %}
          </div>
          
            {% endif %}               

        
          {% endfor %}
        {% endif %}
</div>
      {% endfor %}
      
{% else %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">No favorites added yet!</h5>
      </div>
    </div>
{% endif %}
  </div>
    
</div>



{% endblock content %}